@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --Light-blue-light-blue-100: #F3F5FC;
    --Dark-blue-dark-blue-300: #0A3871;
    --Gray-gray-400: #495057;
    --Gray-gray-500: #343A40;
    --Gray-gray-200: #D8DFE8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

textarea::placeholder {
    color: var(--Dark-blue-dark-blue-300);
  }

body {  
    background-color: var(--Light-blue-light-blue-100);
}

.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    padding: 40px;
}

/* parte da entrada de dados */
.entrada {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.app {
    height: 100%;
    width: 100%;
    padding: 28px 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.entrada-textarea {
    width: 100%;
    max-width: 680px;
    background-color: var(--Light-blue-light-blue-100);
    border: none;
    outline: none;
    font-size: 32px;
    color: var(--Dark-blue-dark-blue-300);
    text-align: left;
}

.entrada-espaco {
    flex: 1;
}

.entrada-aviso {
    width: 100%;
    max-width: 680px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    text-align: left;
}

.entrada-txt-aviso {
    color: var(--Gray-gray-400);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.entrada-botoes {
    width: 100%;
    max-width: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.entrada-botao-criptografar {
    width: 100%;
    max-width: 328px;
    background-color: var(--Dark-blue-dark-blue-300);
    color: white;
    border: none;
    padding: 24px;
    border-radius: 24px;
    font-size: 16px;
}

.entrada-botao-criptografar:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.entrada-botao-criptografar:active {
    filter: brightness(70%);
}

.entrada-botao-descriptografar {
    width: 100%;
    max-width: 328px;
    background-color: var(--Gray-gray-200);
    color: var(--Dark-blue-dark-blue-300);
    border: none;
    padding: 24px;
    border: 1px solid var(--Dark-blue-dark-blue-300);
    border-radius: 24px;
    font-size: 16px;
}

.entrada-botao-descriptografar:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.entrada-botao-descriptografar:active {
    filter: brightness(70%);
}


/* parte da saída de dados */
.resultado {
    display: none;

    width: 28%;
    height: 100%;
    background-color: white;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.resultado-texto {
    color: var(--Gray-gray-400);
    font-size: 24px;
    text-align: left;
    color: var(--Gray-gray-400);
}

.resultado-botao-copiar {
    width: 100%;
    background-color: var(--Gray-gray-200);
    color: var(--Dark-blue-dark-blue-300);
    border: none;
    padding: 24px;
    border: 1px solid var(--Dark-blue-dark-blue-300);
    border-radius: 24px;
    font-size: 16px;
}

.resultado-botao-copiar:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.resultado-botao-copiar:active {
    filter: brightness(70%);
}


.resultado-default-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: var(--Gray-gray-400);
}

.resultado-default {
    display: flex;

    width: 28%;
    height: 100%;
    background-color: white;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.resultado-default-img {
    object-fit: contain;
}


/* responsividade */
@media screen and (max-width: 1400px) {
    .app {
        padding: 32px 120px;
    }

    .entrada-textarea {
        font-size: 26px;
    }

    .resultado-texto {
        font-size: 20px;
    }

    .resultado-default-img {
        width: 90%;
    }
}

/* responsividade */
@media screen and (max-width: 1024px) {
    .app {
        padding: 32px 80px;
    }
}


@media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    .app {
        flex: 1;
        padding: 0;
        margin: 40px 0px 40px 0px;
    }

    .app-logo {
        content: url('../assets/Top.svg');
    }

    .resultado {
        display: none;
        width: 100%;
    }

    .resultado-default {
        display: flex;
        width: 100%;
    }

    .resultado-default-img {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .container {
      flex-direction: column;
    }

    .app {
        flex: 1;
        padding: 0;
        margin: 20px 0px 20px 0px;
    }

    .app-logo {
        content: url('../assets/Top.svg');
    }

    .entrada-textarea {
        font-size: 24px;
    }

    .entrada-botao-criptografar, .entrada-botao-descriptografar {
        width: 100%;
    }

    .entrada-botoes {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .resultado {
        display: none;
        width: 100%;
    }

    .resultado-texto {
        font-size: 20px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }

    .resultado-default {
        display: flex;
        width: 100%;
    }

    .resultado-default-img {
        display: none;
    }

    .resultado-botao-copiar {
        width: 100%;
        background-color: transparent;
        color: var(--Dark-blue-dark-blue-300);
        border: none;
        padding: 0;
        font-size: 16px;
        text-decoration: underline;
    }
}